__pycache__
.venv
2d-test
wfcs_sim
wfcs_sim_old
archives
ns-3-dev-ben
configs.json
experiments.json
wfcs_sim_maps
2d-test_maps
2d-test-18-fix
2d-test-18-fix_maps
etfa_wip_sim_maps
etfa_wip_constant_sim
etfa_wip_mobility_sim
etfa_wip_constant_sim_maps